@import models.EmployerDetails
@(searchMap :List[EmployerDetails],ownerId:Long)


@main("Welcome to Play") {

<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<div class=".container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h4 id="mainBanner">FreeLancelot</h4>
    </div>
    <h4>Employer Details are: </h4>
    @for(details <- searchMap ) {
    <h5>UserName: @details.getUserName()</h5>
    <h5>Email: @details.getEmail()</h5>
    <h5>PrimaryLanguage: @details.getPrimaryLanguage()</h5>
    <h5>Profile Description: @details.getProfileDescription()</h5>
    <h5>Registration Date: @details.getRegistrationDate().format("MMMM dd, yyyy")</h5>
    <h5>HourlyRate: @details.getHourlyRate()</h5>
}
    @if(searchMap != null && searchMap.size > 0) {
            <table border="1" class="table">
                <thead class="thead-light">
                <tr>
                    <th>Owner ID</th>
                    <th>Submission Date</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Word Stats</th>
                    <th>Skills</th>
                    <th>Readability Index</th>
                </tr>
                </thead>
                <tbody>
                @for(projectDet <- details.getProjects()){
                <tr>
                    <td>
                        <p>@projectDet.getOwnerID()</a></p>
                    </td>
                    <td>
                        <p>@projectDet.getTimeSubmitted().format("MMMM dd, yyyy")</p>
                    </td>
                    <td>
                        <p>@projectDet.getTitle()</p>
                    </td>
                    <td>
                        <p>@projectDet.getType()</p>
                    </td>
                    <td>
                        @for(skill<-projectDet.getSkills()){
                        <a href="/projectBySkills/@skill(0)" target="_blank">@skill(1) ,</a>
                        }
                    </td>
                </tr>
                }
                </tbody>
            </table>
</div>
</body>
</html>
}
}