@import models.ProjectDetails
@import models.SearchResultModel

@(request : play.mvc.Http.Request, searchMap : Map[String, SearchResultModel])

@main("Welcome to Play") {
<div class=".container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h1 id="mainBanner" >FreeLancelot</h1>
        </div>
</div>
<div class="container">
    <div class="container">
        <div>
            <form action="/" method="get">
                <input type="text" class="input-lg" size="105" id="myInput" name="searchKeyword" placeholder="Please Search Here" />
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>  Search</button>
            </form>
        </div>
        @if(searchMap.size > 0) {
        <script>

                     let ws = new WebSocket("ws://localhost:9000/ws");
                     let jsonStorage = {};
                     let recentKeywords = '';

                     ws.onopen = () => {
                         console.log('WebSocket opened');
                         searchKeywords();
                     };

                     ws.onmessage = function (msg) {
                          console.log("WebSocket message received");
                          let data = JSON.parse(msg.data);
                          let repositories = data.result.projects;

                          let table = document.getElementById("result-table-body");
                            if (table.rows.length === 0) {
                                for (const repository of repositories) {
                                    addNewRow(table, repository);
                                }
                            }
                            else {
                            for (const repository of repositories) {
                                if (!(repository.fullName in jsonStorage)) {
                                    addNewRow(table, repository);
                                }
                            }
                          }
                     }

                    let keywordsInput = document.getElementById('myInput');

                    function searchKeywords() {
                        var url = new URL(window.location.href);

                        let keywords = url.searchParams.get("searchKeyword");

                        ws.send(JSON.stringify({
                            type: "searchTerms",
                            data: keywords
                        }));

                        recentKeywords = keywords;
                    }

                    function addNewRow(table, repository) {
                        console.log(repository.id);
                        jsonStorage[repository.id] = repository;
                        let row = table.insertRow(0);
                        let ownerCell = row.insertCell(0);
                        let subDateCell = row.insertCell(1);
                        let titleCell = row.insertCell(2);
                        let typeCell = row.insertCell(3);
                        let wordStatsCell = row.insertCell(4);
                        let skillsCell = row.insertCell(5);
                        let readabilityCell = row.insertCell(6);

                        let userAnchor = document.createElement('a');
                        userAnchor.setAttribute('href', "profilePage" + repository.owner_id);
                        userAnchor.innerHTML = repository.owner_id;
                        userCell.appendChild(userAnchor);

<!--                        let repoAnchor = document.createElement('a');-->
<!--                        repoAnchor.setAttribute('href', "/repo/" + repository.fullName);-->
<!--                        repoAnchor.innerHTML = repository.repoName;-->
<!--                        repoCell.appendChild(repoAnchor);-->

<!--                        let repoAnchor = document.createElement('a');-->
<!--                        repoAnchor.setAttribute('href', "/repo/" + repository.fullName);-->
<!--                        repoAnchor.innerHTML = repository.repoName;-->
<!--                        repoCell.appendChild(repoAnchor);-->

<!--                        let repoAnchor = document.createElement('a');-->
<!--                        repoAnchor.setAttribute('href', "/repo/" + repository.fullName);-->
<!--                        repoAnchor.innerHTML = repository.repoName;-->
<!--                        repoCell.appendChild(repoAnchor);-->

<!--                        let repoAnchor = document.createElement('a');-->
<!--                        repoAnchor.setAttribute('href', "/repo/" + repository.fullName);-->
<!--                        repoAnchor.innerHTML = repository.repoName;-->
<!--                        repoCell.appendChild(repoAnchor);-->

<!--                        let repoAnchor = document.createElement('a');-->
<!--                        repoAnchor.setAttribute('href', "/repo/" + repository.fullName);-->
<!--                        repoAnchor.innerHTML = repository.repoName;-->
<!--                        repoCell.appendChild(repoAnchor);-->

<!--                        let repoAnchor = document.createElement('a');-->
<!--                        repoAnchor.setAttribute('href', "/repo/" + repository.fullName);-->
<!--                        repoAnchor.innerHTML = repository.repoName;-->
<!--                        repoCell.appendChild(repoAnchor);-->

                        for (const topic of repository.topics) {
                            let topicAnchor = document.createElement('a');
                            topicAnchor.setAttribute('href', "/search?topic=" + topic);
                            topicAnchor.innerHTML = topic;
                            topicCell.appendChild(topicAnchor);
                        }
                    }

                    function addHeader(keywords) {
                        let table = document.getElementById("result-table-body");
                        let row = table.insertRow(0);
                        let th = document.createElement('th');
                        th.setAttribute('colspan', 3);
                        th.setAttribute('class', 'keyword-header')
                        th.innerText = keywords;
                        row.appendChild(th);
                    }
                </script>


<!--            @for((phrase, projectModal : SearchResultModel ) <- searchMap) {-->
            <dl class="row" style="margin-top: 50px;">
                <dt class="col-sm-3"><h4>Search term : </h4></dt>
                <dd class="col-sm-3"><h4>@phrase</h4></dd>
                <dd class="col-sm-6"><h4><a href="/@phrase/wordStatsGlobal" target="_blank">Global Stats</a></h4></dd>
                <dd class="col-sm-3"><h4>FKCL : @projectModal.getfleschReadabilityIndex()</h4></dd>
                <dd class="col-sm-3"><h4>FKGL : @projectModal.getfleschKincaidGradeLevel()</h4></dd>
            </dl>

        <div class="table-responsive m-4">
            <table class="table table-bordered">
                <thead>
                <tr class="table-info">
                    <th scope="col">Owner ID</th>-->
                    <th scope="col">Submission Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Word Stats</th>
                    <th scope="col">Skills</th>
                    <th scope="col">Readability</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                </tbody>
            </table>
        </div>

            <table border="1" class="table" id="@">
                <thead class="thead-light">
                    <tr>
                        <th>Owner ID</th>
                        <th>Submission Date</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Word Stats</th>
                        <th>Skills</th>
                        <th>Readability</th>
                    </tr>
                </thead>
                <tbody>
                @for( project <- projectModal.getprojectDetails().slice(0, 10) ) {
                <tr>
                    <td>
                        <p><a href="profilePage/@project.getOwnerID()" target="_blank">@project.getOwnerID()</a></p>
                    </td>
                    <td>
                        <p>@project.getTimeSubmitted().format("MMMM dd, yyyy")</p>
                    </td>
                    <td>
                        <p>@project.getTitle()</p>
                    </td>
                    <td>
                        <p>@project.getType()</p>
                    </td>
                    <td>
                        <p><a href="/@phrase/wordStats/@project.getProjectID()" target="_blank">Stats</a></p>
                    </td>
                    <td>
                    @for(skill<-project.getSkills()){
                    <a href="/projectBySkills/@skill(0)" target="_blank">@skill(1) ,</a>
                    }
                    </td>
                    <td>
                        <p>@project.getReadability()</p>
                    </td>
                </tr>
                }
                </tbody>
            </table>
            }
        }
    </div>
</div>
}

