@*
	@(searchMap : Map[String,List[UserRepositoryTopics]])
*@

  @main("Welcome to Play") {
<div class=".container-fluid">
        <div class="jumbotron jumbotron-fluid">
            <h1 id="mainBanner" >FreeLancelot</h1>
        </div>
</div>
<div class="container">
    <div>
    <form action="@routes.HomeController.search()" method="post">
      <input type="text" class="input-lg" name="searchTerm" size="105">
      <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>  Search</button>
    </form>
    </div>
</div>
}

